body{
    text-align: center;
    background-color: aqua;
}

input{
    text-align: center;
}

.botao {
    height: 30px;
    width: 100px;
    background-color: gray;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.botao:hover {
    background-color: brown;
    color: black;
}

